box.cfg {
   listen           = {{ tarantool.port }},
   slab_alloc_arena = {{ tarantool.arena }},
   log_level        = 0,
   logger_nonblock  = true,
   wal_mode         = "none",
}

local spc = box.schema.space.create("ycsb", { id = 1024 })
spc:create_index('primary', { type = {{ tarantool.index }}, parts = {1, 'STR'} } )
box.schema.user.grant('guest', 'read,write,execute', 'universe')
